rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stalkerPlaylists/{playlistId} {
      // Allow read/write only if authenticated
      allow read, write: if request.auth != null;
    }
  }
}
